button[disabled] {
    opacity: .5 ;
}


.server-state {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: block;
}

.server-state.offline{
    opacity: .3;
}
.server-state.online{
    opacity: 1;
    border: 04px solid #000
}