<!-- String interpolation -->
<p>Server Name :  {{serverName}}</p>

<!-- String interpolation - function -->
<p>Server Id :  {{getServerId()}}</p>

<!-- ngIf -->
<p *ngIf="serverState;else elseBlock">Online</p>
<ng-template #elseBlock><p>Offline</p></ng-template>

<!-- ngModel - twoway data binding -->
<p>Server Desc : {{serverDesc}}</p>
<label for="">ServerDesc : </label>
<input type="text" [(ngModel)]="serverDesc"> <br /><br />

<!-- Event binding - input type -->
<label for="">Update serverState by input : </label>
<input type="text" (input)="updateServerName($event)"> <br /><br />

<!-- Property binding - Event binding  -->
<button type="button" [disabled]="!allowNewServer" (click) ="changeState()">Change State</button>

<!-- ngStyle -->
<p class="server-state" 
    [ngStyle]="{'background' : getColor()}"
    [ngClass] ="{'online' : serverState == true,'offline' : serverState == false}"></p>

<hr>
<!-- *ngFor +  Passing value -->
<input type="text" #serverNameInput>
<button type="button" (click) = "addServer(serverNameInput)">Add a Server</button>
<ul>
    <li *ngFor="let server of serverList;let i = index"><span>{{i+ ' -- '}}</span>{{server.name}}</li>
</ul>